<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about" class="text-container">
        <h2>About</h2>
        <p>Hi, I'm Rika, a Full-Stack Web Developer living in Tokyo. </p>
        <p>I'm a former customer service manager with over 6 years experience.</p>
        <p>I started my journey into programming taking Web Development course at Le Wagon Tokyo.</p>
        <p>On a typical weekend, I enjoy video games, eating sweets and travelling!</p>
      </div>
    </div>
  </div>
</div>
