<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <h1>Rika Saito</h1>
    <h3>Full Stack Developer</h3>
    <%= image_tag 'photo.jpg', alt: "profile photo", class: 'avatar' %>
    <div class="contents d-flex">
      <a><i class="fa-solid fa-user m-3" style="color: #f98438;"></i>About</a>
      <a><i class="fa-regular fa-folder-open m-3" style="color: #f98438;"></i>Project</a>
      <a><i class="fa-solid fa-phone m-3" style="color: #f98438;"></i>Contact</a>
    </div>
  </div>
</div>
