<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <h1>Rika Saito</h1>
    <h3>Full Stack Developer</h3>
    <%= image_tag 'photo.jpg', alt: "profile photo", class: 'avatar' %>
    <div class="contents d-flex">
      <a href="#about" class="m-3"><i class="fa-solid fa-user m-1" style="color: #f98438;">
        </i>About</a>
      <a href="#projects" class="m-3"><i class="fa-regular fa-folder-open m-1" style="color: #f98438;"></i>Projects</a>
      <a href="#contact" class="m-3"><i class="fa-solid fa-phone m-1" style="color: #f98438;"></i>Contact</a>
    </div>
  </div>
</div>
