<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about" class="text-container">
        <h2>About</h2>
        <p>東京在住のFull-Stack Web Developerです。</p>
        <p>前はカスタマーサービスのマネージャーをしており、合計6年以上の経験があります。</p>
        <p><a href="https://www.lewagon.com/ja/tokyo">Le Wagon Tokyo</a>のWeb Development courseへの参加を機に</p>
        <p>プログラミングのキャリアのスタートを切りました。</p>
        <p>どうぞよろしくお願いします！</p>
      </div>
    </div>
  </div>
</div>
