.banner {
  height: 100vh;
  background: white;
  padding: 1rem;
  margin-top: 2rem;
  margin-right: 3rem;
  margin-left: 3rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border: 10px solid $brown;
  text-align: center;

  h1 {
    font-weight: bold;
    font-size: 60px;
    text-shadow: 2px 2px 2px $orange;

  }
}

.text-container {
  text-align: center;

  h2 {
    font-weight: bold;
    font-size: 40px;
    text-shadow: 2px 2px 2px $orange;
  }
}
