// Specific CSS for your home-page

body {
  border: 20px solid #f98438;
}

#contact {
  background: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#about {
  background: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#projects {
  background: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
