<div class="switch"><a href="index.html">English</a></div>
<div class="container ">
  <!-- Banner Section -->
  <%= partial 'partials/jabanner' %>
  <!-- About Section -->
  <%= partial 'partials/jaabout' %>
  <!-- Projects Section -->
  <%= partial 'partials/japrojects' %>
  <!-- Social Links Section -->
  <%= partial 'partials/social' %>
</div>
